.singleblog-page {
  padding: 100px 7%;
  display: flex;
  gap: 24px;
  background-color: var(--bg-color);
  color: var(--text-color);
  .singleblog-page-right {
    flex: 4;
    background-color: var(--post-color);
    padding: 28px 35px;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.1);
    .singleblog-content {
      h3 {
        font-family: 'title';
        font-size: 42px;
        margin-bottom: 18px;
      }
      p {
        line-height: 2.8;
        text-align: justify;
      }
    }
  }

  .singleblog-page-left {
    flex: 1;
    background-color: var(--post-color);
    color: var(--text-color);
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.1);

    .singleblog-sidebar-top {
      display: flex;
      flex-direction: column;
      .singleblog-sidebar-top-image {
        align-items: center;
        display: flex;
        flex-direction: column;
        .singleblog-post-image {
          width: 100%;
          margin-bottom: 20px;
        }
        .singleblog-profile {
          width: 40%;
          border-radius: 50%;
        }
      }

      .singleblog-sidebar-top-content {
        padding: 20px;
        p {
          font-family: 'fanum';
          margin-bottom: 9px;
          font-size: 14px;
        }
        .blog-page-about-me {
          line-height: 2.1;
          text-align: justify;
          font-size: 14px;
          margin: 10px 0;
        }

        .blog-writer-social {
          ul {
            display: flex;
            gap: 14px;
            font-size: 30px;
            justify-content: center;
            li {
              cursor: pointer;
              &:hover {
                color: var(--primary-color);
              }
              &:active {
                color: var(--secondary-color);
              }
            }
          }
        }
      }
    }
    //
    .singleblog-sidebar-middle {
      padding: 0 10%;

      h3 {
        font-family: 'title';
        font-size: 21px;
      }
      ul {
        display: flex;
        flex-direction: column;
        li {
          font-family: 'title';
          font-size: 14px;
          margin-bottom: 10px;
          border-bottom: 1px solid var(--text-color);
          padding: 3px 0;
          .singleblog-sidebar-middle-link {
            color: var(--text-color);
            &:hover {
              color: var(--primary-color);
            }
            &:active {
              color: var(--secondary-color);
            }
          }
        }
      }
    }
  }
}
