@tailwind base;
@tailwind components;
@tailwind utilities;

$bg-dark: #0f1d29;
$bg-light: #fff;
$post-dark: #0f2d45;
$post-light: #f8f8f8;
$text-dark: #080f14;
$text-light: #fff;
$primary-dark: #3258e0;
$primary-light: #3298f1;
$secondary: #ea4492;
$green: rgb(10, 147, 152);

:root {
  --bg-color: #{$bg-light};
  --text-color: #{$text-dark};
  --post-color: #{$post-light};
  --primary-color: #{$primary-dark};
  --secondary-color: #{$secondary};
  --green-color: #{$green};
}

.dark {
  --bg-color: #{$bg-dark};
  --text-color: #{$text-light};
  --post-color: #{$post-dark};
  --primary-color: #{$primary-light};
  --secondary-color: #{$secondary};
  --green-color: #{$green};
}

@font-face {
  font-family: "text";
  src: url("../assets/fonts/vazir.ttf");
}
@font-face {
  font-family: "title";
  src: url("../assets/fonts/yekan.ttf");
}

.main {
  height: 100vh;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.main h1 {
  font-family: "title";
  font-weight: 900;
  font-size: 50px;
  color: var(--primary-color);
}

.main p {
  font-family: "title";
  font-size: 17px;
  background-color: var(--secondary-color);
  color: #fff;
}

.post p {
  padding: 20px;
  background-color: var(--green-color);
  color: #fff;
}
