:root {
  --bg-color: #{$bg-light};
  --text-color: #{$text-dark};
  --post-color: #{$post-light};
  --primary-color: #{$primary-dark};
  --secondary-color: #{$secondary};
  --green-color: #{$green};
}
