.singleProduct {
  display: flex;
  padding: 100px 15%;
  gap: 20px;
  .singleProduct-right {
    padding: 30px;
    h3 {
      font-family: 'title';
      font-size: 25px;
    }
    p {
      line-height: 1.9;
      text-align: justify;
    }

    .singleProduct-right-other-container {
      margin-top: 50px;

      .singleProduct-right-other {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, auto));
        grid-gap: 15px;
        img {
          width: 100%;
        }
        .singleProduct-right-other-box {
          background-color: var(--post-color);
          padding: 4px;
          h4 {
            font-family: 'title';
            font-size: 14px;
          }
        }
      }
    }
  }

  .singleProduct-left {
    background-color: var(--post-color);
    padding-bottom: 25px;
    img {
      width: 400px;
    }

    .singleProduct-left-content {
      padding: 10px 15px;
      margin-bottom: 14px;
      .singleProduct-left-content-price {
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: 'fanum';
      }
      .singleProduct-left-content-restaurant {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      .singleProduct-left-content-btn {
        border: none;
        padding: 5px 9px;
        margin-top: 10px;
        background-color: var(--primary-color);
        color: #fff;
        font-family: 'title';
      }
    }

    .singleProduct-left-cart {
      padding: 6px 10px;
      display: flex;
      gap: 10px;
      background-color: var(--bg-color);
      width: fit-content;
      margin-right: 20px;
      border-bottom: 2px solid var(--secondary-color);
      margin-bottom: 12px;
      p {
        font-family: 'fanum';
        font-weight: 900;
        font-size: 14px;
      }
    }

    .singleProduct-left-total {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-right: 20px;
      background-color: var(--bg-color);
      width: fit-content;
      padding: 10px 15px;
      border-bottom: 2px solid var(--secondary-color);
      span {
        color: var(--green-color);
        font-weight: 900;
      }
    }
  }
}
