.singleProduct {
  display: flex;
  padding: 100px 15%;
  gap: 20px;
  height: 100%;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  .singleProduct-right {
    background-color: var(--post-color);
    padding: 30px;
    h3 {
      font-family: 'title';
      font-size: 25px;
    }
    p {
      line-height: 1.9;
      text-align: justify;
    }

    .singleProduct-right-other-container {
      margin-top: 50px;
      .singleProduct-right-other {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, auto));
        grid-gap: 15px;
        img {
          width: 100%;
        }
        .singleProduct-right-other-box {
          padding: 4px;
          h4 {
            font-family: 'title';
            font-size: 14px;
            color: var(--text-color);
          }
        }
      }
    }
  }

  .singleProduct-left {
    background-color: var(--post-color);
    padding-bottom: 35px;
    position: sticky;
    top: 70px;
    height: 100%;
    img {
      width: 400px;
    }

    .singleProduct-left-content {
      padding: 10px 15px;
      margin-bottom: 14px;
      .singleProduct-left-content-price {
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: 'fanum';
      }
      .singleProduct-left-content-restaurant {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      .singleProduct-left-content-btn {
        border: none;
        padding: 5px 9px;
        margin-top: 10px;
        background-color: var(--primary-color);
        color: #fff;
        font-family: 'title';
      }
    }

    .singleProduct-left-cart {
      padding: 6px 10px;
      display: flex;
      gap: 10px;
      background-color: var(--bg-color);
      width: fit-content;
      margin-right: 20px;
      border-bottom: 2px solid var(--secondary-color);
      margin-bottom: 12px;

      p {
        font-family: 'fanum';
        font-weight: 900;
        font-size: 14px;
      }
    }

    .singleProduct-left-total {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-right: 20px;
      background-color: var(--bg-color);
      width: fit-content;
      padding: 10px 15px;
      border-bottom: 2px solid var(--secondary-color);
      span {
        color: var(--green-color);
        font-weight: 900;
        font-family: 'fanum';
      }
    }
    .singleProduct-left-contact-us {
      padding: 10px 20px;
      margin-top: 20px;
      h4 {
        font-family: 'title';
        font-size: 21px;
      }
      p {
        line-height: 1.7;
        text-align: justify;
      }
      ul {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7px;
        li {
          font-family: 'fanum';
        }
      }
      .singleProduct-left-email {
        font-family: 'Roboto';
      }
    }
  }
}

@media screen and (max-width: 1398px) {
  .singleProduct {
    display: flex;
    padding: 100px 7%;
    gap: 20px;
    .singleProduct-right {
    }
    .singleProduct-left {
    }
  }
}
@media screen and (max-width: 1162px) {
  .singleProduct {
    display: flex;
    padding: 100px 2%;
    gap: 20px;
    .singleProduct-right {
    }
    .singleProduct-left {
    }
  }
}
@media screen and (max-width: 945px) {
  .singleProduct {
    display: flex;
    flex-direction: column-reverse;
    padding: 100px 2%;
    gap: 20px;
    .singleProduct-right {
    }
    .singleProduct-left {
      position: relative;
      top: 0;
      background-color: var(--bg-color);
      .singleProduct-left-contact-us {
        display: none;
      }
      img {
        width: 70%;
      }
    }
  }
}

@media screen and (max-width: 354px) {
  .singleProduct {
    .singleProduct-right {
    }
    .singleProduct-left {
      .singleProduct-left-total {
        font-size: 13px;
      }
    }
  }
}
