$bg-dark: #0f1d29;
$bg-light: #fff;
$post-dark: #0f2d45;
$post-light: #f8f8f8;
$text-dark: #080f14;
$text-light: #fff;
$navbar-light: #f6f5f5;
$navbar-dark: #2d3c58;
$footer-light: #f8f8f8;
$footer-dark: #253047;
$primary-dark: #3258e0;
$primary-light: #3298f1;
$secondary: #ea4492;
$green: rgb(10, 147, 152);

:root {
  --bg-color: #{$bg-light};
  --text-color: #{$text-dark};
  --post-color: #{$post-light};
  --primary-color: #{$primary-dark};
  --secondary-color: #{$secondary};
  --green-color: #{$green};
  --header-color: #{$navbar-light};
  --footer-color: #{$footer-light};
}

.dark {
  --bg-color: #{$bg-dark};
  --text-color: #{$text-light};
  --post-color: #{$post-dark};
  --primary-color: #{$primary-light};
  --secondary-color: #{$secondary};
  --green-color: #{$green};
  --header-color: #{$navbar-dark};
  --footer-color: #{$footer-dark};
}

@font-face {
  font-family: 'title';
  src: url('./assets/fonts/yekan.ttf');
}
@font-face {
  font-family: 'black-title';
  src: url('./assets/fonts/craft.ttf');
}
@font-face {
  font-family: 'text';
  src: url('./assets/fonts/vazir.ttf');
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'text';
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.main {
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 100vh;
  transition: all ease-in-out 0.1s;
}
